{% extends 'rango/base.html' %}
{% load staticfiles %}	<!-- informs Django's template engine that we will be using static files within the template -->


{% block title %}About{% endblock %}
   
		<!-- CSS -->
		<!--link rel= "stylesheet" href="{% static "css/base.css" %}" /-->
		<!-- JavaScript -->
		<!--script src="{% static "js/jquery.js" %}"></script-->


    {% block body_block %}
        <h1>About Rango</h1>
		This is <strong> Rango's about page</strong><br/>
        <div>
                FUN FUN FUN! <br />
                <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <!--a href="/rango/index/">Index</a><br /-->
			<!-- Image -->
			<img src= "{% static "images/about.jpg" %}" img alt="static cat" />	<!-- static template tag: show image located in static media directory given-->
			<img src="{{ MEDIA_URL}}cat.jpg">
        </div>
		
<p> You have visited this site {{ visits }} times</p-->
{% endblock %}

